*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef; 

}
.c-purple{
    color: #332166;
}
.c-white{
    color: #ffff;
}
.c-yellow{
    color: #f8ce0c;
}
.b-purple{
    background-color: #332166;
}

.navbar{
    font-weight: 600;
}
.dropdown-menu {
    background-color: transparent;
    border: 0;
    background-color: #332166;

}

/* BLOG CONTENT */
.blog-box{
    background-color: #fff;
}
span.tag-categoria{
    
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
}
.tag-red{
    background-color: #ee162d;
}
.tag-yellow{
    background-color: #f9cf09;
}
.tag-green{
    background-color: #6de14c;
}
.btn-blog{
    font-size: 30px;
    color: #332166;
}
.btn-blog::after{
    content: '>';
    vertical-align: text-bottom;
    padding-left: 7px;
    font-weight: bold;
}