*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef; 

}
.c-purple{
    color: #332166;
}
.c-white{
    color: #ffff;
}
.c-yellow{
    color: #f8ce0c;
}
.b-purple{
    background-color: #332166;
}

.navbar{
    font-weight: 600;
}
.dropdown-menu {
    background-color: transparent;
    border: 0;
    background-color: #332166;

}

/* BLOG CONTENT */
.blog-box{
    background-color: #fff;
}
span.tag-categoria{
    
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
}
.tag-red{
    background-color: #ee162d;
}
.tag-yellow{
    background-color: #f9cf09;
}
.tag-green{
    background-color: #6de14c;
}
.btn-blog{
    font-size: 30px;
    color: #332166;
}
.btn-blog::after{
    content: '>';
    vertical-align: text-bottom;
    padding-left: 7px;
    font-weight: bold;
}

/** responsivo **/
@media screen and  (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 991px){
    .blog-box .img{
        text-align: center;
    }
    .blog-box img.w-100{
        width: auto !important;
    }
}


@media screen and (max-width: 768px){
    /** menu **/
    ul.nav{
        display: none;
        width: 100%;
        padding: 14px 0;
    }
    .menu-toogle{
        display: block !important;
        cursor: pointer;
    }
    .menu-toogle span{
        display: block;
        background-color: #fff;
        margin: 5px 0;
        width: 44px;
        height: 5px;
        border-radius: 3px;
    }
    .text-blog  h1{
        font-size: 30px;
    }
    .d-flex{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    .container{
        max-width: 100% !important;
    }
}